html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #111111;
    min-height: 100vh;
    color: #ffdae0;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

* {
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

.logo {
    /* font-family: 'Bangers', cursive; */
    font-family: 'Gugi', cursive;
    color: #FF6347;
}


/* color vars 5
#FF6347
#8059D5
#41C7BE
*/